body { 
  padding-top: 4rem;
  font-family: 'Alegreya', serif;
  background: #f9f9f9;
  position: relative;
  font-size: 1.25em;
}

.container { 
	padding: 1.5% 5%; 
}

.text-container {
  max-width: 42.5rem;
  padding: 0.25em 0;
}

.img-fluid {
  margin: 1.5rem 0;
}

.grow img {
  -webkit-transition: all .25s ease; /* Safari and Chrome */
  -moz-transition: all .25s ease; /* Firefox */
  transition: all .25s ease;
}
.grow img:hover {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform:translateZ(0) scale(1.10); /* Safari and Chrome */
  -moz-transform:scale(1.05); /* Firefox */
  transform:translatZ(0) scale(1.05);
}

.banner {
  margin-top: 2rem;
}

.gallery {
  background-color: #FFFFFF;
  margin: 4rem 0;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

/* Headings */

a {
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
	font-weight: 500;
  color: #ABC038;
  font-size: 0.85em;
}

a:hover {
    opacity: 0.7;
    transition: opacity .15s ease-in;
    color: #ABC038;
    text-decoration: none;
}

p + p {
  text-indent: 2em;
}

p {
  font-weight: 400;
  line-height: 1.6;
  margin: 0.5em 0 1.6em;
}

h1 {
	font-family: 'Lato', sans-serif;
  font-size: 3.157em;
	font-weight: 700;
  line-height: 1.1;
  margin: 0 0 0.3em;
}

h2 {
	font-family: 'Lato', sans-serif;
  font-size: 1.333em;
  font-weight: 300;
  line-height: 1.5;
  margin: 0.85em 0 0.65em;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-size: 0.75em;
  color: #bcbcbc;
  line-height: 1.2;
  margin: 2em 0 0.5em;
}

.smallcaps{
  font-family: 'Alegreya SC', Georgia, serif;
}

.dropcap{
  font-size: 4.236em;
  font-weight: 700;
  display: block;
  float: left;
  width: 0.8em;
  height: .7;
  line-height: .8;
  margin: 0;
}

/* hacky garbage */
.dropcapm{
  font-size: 4.236em;
  font-weight: 700;
  display: block;
  float: left;
  width: 1em;
  height: .7;
  line-height: .8;
  margin: 0;
}

/* Navbar and Buttons */

.navbar {
  background: #f9f9f9;
}

.navbar .navbar-nav {
    padding: 0.5rem 4.5rem;
}


.navbar .navbar-brand {
  display: flex;
  align-items: center;
}

.navbar .navbar-brand>img {
    padding: 0 2.5rem;
    max-width: 19rem;
    max-height: 10rem;
  }

@media (max-width: 576px) {
  .navbar .navbar-brand>img {
    padding: 0 0.35rem;
    max-width: 13.75rem;
    max-height: 10rem;
  }
}

.navbar .navbar-toggler-right {
  margin-top: 0.55rem;
  right: 1.5rem;
}

.btn-success {
  background-color: #ABC038; 
  border-color: #ABC038; 
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  font-size: 0.85em;
}

.btn-success:hover {
  opacity: 0.7;
  background-color: #ABC038; 
  border-color: #ABC038; 
}

.card {
    border: none;
}